.sketch{
    background-color: black;
}
.mainContainer{
    width: 100%;
}
.containerGrid{
    margin: 0 auto;
}
.heading1{
    font-family: 'Squada One', cursive;
    font-size: 60px;
    text-align: center;
    display: inline;
}

.heading2{
    font-family: 'Squada One', cursive;
    font-size: 30px;
    text-align: center;
    display: inline;
}

.header{
    width: 100%;
    text-align: center;
}

.button{
    font-family: 'Squada One', cursive;
    font-size: 14px;
    text-align: center;
    display: inline;
}

.bar{
    text-align: center;
    width: 100%;
}

.input{
    width: 30px;
    box-sizing: border-box;
}
